* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #8A95FF;
}

h1 {
    text-align: center;
}

#grid-container {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 1000px;
    margin: auto;
    border: 1px solid #00000044;
}

.row {
    display: flex;
    flex: 1 0 auto;
}

.square {
    /* min-width: 50px;
    min-height: 50px; */
    flex: 1 0 auto;
    background-color: white;
    border: 1px solid #00000044;
}